{% load static %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/cookie.js' %}"></script>
<script src="{% static 'js/apiFunction.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.js' %}"></script>